@font-face {
  font-family: Droid;
  src: url(droid.ttf);
}

html, body {
  background: url(home.png);
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center !important;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #E71D36 !important;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.navbar-default {
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav {
  background: #2E294E !important;
  font-family: Droid;
  font-size: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav a {
  letter-spacing: 0.5px;
  color: #E71D36 !important;
  padding-left: 10px;
}

.dropdown-item:hover {
  background: #2E294E !important;
}

.dropdown-item {
  font-family: Arial;
}

#navbarDropdown {
  text-align: center !important;
  margin-top: 10px;
  background-color: #E71D36 !important;
  color: #dddddd !important;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  padding: 0px;
}

.logo {
  width: 65px !important;
  height: 65px !important;
  max-height: 65px !important;
  max-width: 65px !important;
  margin: 0 auto;
}

.logoHome {
  width: 175px;
  height: 175px;
}

.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h1 {
  font-family: Droid !important;
  color: #E71D36 !important;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 300px;
  background: #DBD6CB;
}

.active-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 300px;
  background: #DBD6CB;
}

.play-direct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* width: 30%; */
  /* width: 400px; */
  height: 300px;
  background: url(play.png);
  opacity: 0.8;
}

.play-direct:hover {
  cursor: pointer;
  opacity: 1;
}

.users-header {
  width: 20% !important;
  text-align: left;
}

.news-header {
  width: 75% !important;
  text-align: left;
}

.hideme, .hide {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: url(home.png);
}

::-webkit-scrollbar-thumb {
  background: #E71D36;
}

::-webkit-scrollbar-thumb:hover {
  background: #b11729;
}

.login-container {
  background-color: url(home.png);
  height: 90.2vh;
}

.login-container h1 {
  color: #2E294E !important;
}

.lightBulb {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.card-body-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2E294E;
  background-color: #E71D36 !important;
  border-radius: 0px !important;
}

.card-body-register form {
  width: 100% !important;
}

.card-body-register h1 {
  color: #2E294E !important;
  font-family: Droid, arial;
}

.card-body-register button {
  letter-spacing: 1px;
  font-size: 25px;
  font-family: Droid;
  background: #2E294E;
  border: #2E294E;
}

.card-body-register button:hover {
  background-color: #211e38 !important;
}

.card-body-register span, .card-body-register i {
  background-color: #2E294E !important;
  border: #2E294E !important;
}

.card-body-register a {
  color: #2E294E !important;
}

.card-body-register .login-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.card-body-register .loginBtn {
  width: 100% !important;
}

.card-body-login, .card-login {
  color: #2E294E;
  background-color: #E71D36 !important;
  border-radius: 0px !important;
}

.card-body-login h1, .card-login h1 {
  color: #2E294E !important;
  font-family: Droid, arial;
}

.card-body-login button, .card-login button {
  letter-spacing: 1px;
  font-size: 25px;
  font-family: Droid;
  background: #2E294E;
  border: #2E294E;
}

.card-body-login button:hover, .card-login button:hover {
  background-color: #211e38 !important;
}

.card-body-login input, .card-login input {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.card-body-login span, .card-body-login i, .card-login span, .card-login i {
  background-color: #2E294E !important;
  border: #2E294E !important;
}

.card-body-login a, .card-login a {
  color: #2E294E !important;
}

.card-body-login .login-container, .card-login .login-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.card-body-login .loginBtn, .card-login .loginBtn {
  width: 100% !important;
}

.edit-name {
  border-radius: .25rem;
}

.mini-form {
  max-height: 255px !important;
  margin: 0 !important;
}

.profile-block {
  max-height: 580px;
  background: rgba(255, 255, 255, 0) !important;
}

.profile-block h1 {
  font-size: 48px !important;
}

.profile-block .bio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 200px;
  height: 345px;
  color: #2E294E;
  padding: 10px !important;
  border: 2px solid #2E294E !important;
  border-radius: 4px;
  background: #DBD6CB;
}

.profile-block .achievement-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #DBD6CB;
  margin: 10px;
  margin-top: 0px;
  padding: 10px !important;
  border: 1px solid #2E294E;
  border-radius: 4px;
  background: #2E294E !important;
}

.profile-block .achievement-container h1 {
  width: 100%;
}

.profile-block .edit-btn {
  margin-left: 65%;
  width: 150px;
  max-width: 200px;
  border-radius: 4px;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 25px;
  font-family: Droid;
  background: #2E294E;
  border: #2E294E;
}

.profile-block .edit-btn:hover {
  cursor: pointer;
  background-color: #211e38 !important;
}

.profile-block .image-upload > input {
  display: none;
}

.profile-block .image-upload {
  max-width: 200px;
}

.profile-block .image-upload button {
  width: 200px;
  max-width: 200px;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: Droid;
  background: #2E294E;
  border: #2E294E;
}

.profile-block .image-upload button:hover {
  background-color: #211e38 !important;
}

.profile-block .image-upload img {
  width: 80px;
  cursor: pointer;
}

.profile-block .edit-profile-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.profile-block .bio-achieve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 350px;
}

.profile-block .biography {
  max-height: 365px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
}

.profile-block .achievements {
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 85% !important;
  height: 348px;
  margin-left: 3px;
  border-radius: 4px;
}

.profile-block .achievements label {
  width: 50%;
  border-bottom: 2px solid #E71D36;
}

.profile-block .achievements h1 {
  padding-left: 5px;
}

.profile-block .background-preview {
  max-width: 75% !important;
}

.profile-block .pic-name-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.profile-block .profile-img, .profile-block picture {
  border-radius: 4px;
  width: 200px !important;
  height: 200px !important;
  max-width: 200px;
  max-height: 200px;
}

.profile-block .profileName {
  background: #DBD6CB;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: 8px;
}

.profile-block .profileName label {
  width: 30%;
  border-bottom: 2px solid #E71D36;
}

.profile-block .profileName .status {
  color: #2E294E !important;
}

.profile-block #userNaam {
  background: rgba(255, 255, 255, 0) !important;
  border: 1px solid #E71D36;
}

.profile-block #comment {
  background: rgba(255, 255, 255, 0) !important;
  border: 1px solid #E71D36;
  width: 100% !important;
}

.profile-block .profileName {
  padding: 10px;
}

.card-body-profile {
  background: rgba(255, 255, 255, 0) !important;
}

.modal-profile button {
  color: #2E294E;
  letter-spacing: 1px;
  font-size: 25px;
  margin-top: 10px;
  width: 100%;
  font-family: Droid;
  background: #E71D36;
  border: #E71D36;
}

.modal-profile button:hover {
  color: #E71D36;
  background-color: #211e38 !important;
}

.modal-profile input, .modal-profile textarea {
  color: #DBD6CB;
}

.modal-profile label {
  font-size: 30px;
}

.modal-profile .choose-bg {
  padding-top: 10px;
  padding: 5px;
  border-top: 1px solid #2c2749 !important;
}

.update-bio {
  background: #E71D36 !important;
}

.hunger-main button {
  color: #E71D36;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: Droid;
  background: #2E294E;
  border: #2E294E;
}

.hunger-main button:hover {
  background-color: #211e38 !important;
}

.hunger-main .build-header {
  font-size: 50px;
}

.hungry-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.hungry-container .edit-player {
  background: #DBD6CB !important;
  padding: 10px;
}

.hungry-container .gender-head {
  margin-left: 135px !important;
}

.hungry-container .hunger-row {
  position: relative;
}

.hungry-container .hunger-row .logo {
  margin-left: 0px;
  min-width: 65px !important;
  max-width: 65px !important;
}

.hungry-container .hunger-row h1 {
  color: #2E294E !important;
}

.hungry-container .hunger-row img {
  min-width: 125px !important;
  max-width: 125px !important;
  max-height: 125px !important;
  border-radius: 100px !important;
  border: none !important;
}

.hungry-container .your-img {
  position: absolute;
  top: 0 !important;
}

.hungry-container .your-char {
  padding: 15px;
}

.hungry-container .your-id {
  padding: 10px;
  border: 2px solid #2E294E;
  border-radius: 4px;
}

.hungry-container .your-id .id-name {
  margin-left: 9% !important;
}

.hungry-container .your-id #username {
  background: #2E294E;
  padding: 10px;
  height: 9% !important;
}

.hungry-container .your-id #username h1 {
  padding-left: 63px;
  color: #DBD6CB !important;
}

.hungry-container button {
  letter-spacing: 1px;
  font-size: 25px;
  font-family: Droid;
  background: #2E294E;
  border: #2E294E;
}

.hungry-container button:hover {
  background-color: #211e38 !important;
}

.hungry-container .your-char {
  background: #DBD6CB;
}

.hungry-container #player-list {
  max-height: 100%;
  padding: 10px;
}

.hungry-container #player-list img {
  max-width: 125px;
  max-height: 125px;
  border-radius: 100px;
}

.modal-body, .modal-header, .modal-footer {
  background: #2E294E !important;
  border: 1px solid #2c2749 !important;
}

.modal-header {
  color: #E71D36;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #E71D36 !important;
}

.modal-body label {
  font-family: Droid, arial;
  font-size: 25px;
  letter-spacing: 1px;
}

.modal-footer button {
  font-family: Droid, arial;
  font-size: 25px;
  background: #E71D36 !important;
  color: #2E294E;
}

.hunger-container h1 {
  max-width: 470px;
}

.hunger-container img {
  max-width: 125px;
  max-height: 125px;
  border-radius: 100px;
}

.hunger-container button {
  letter-spacing: 1px;
  font-size: 25px;
  font-family: Droid;
  background: #2E294E;
  border: #2E294E;
}

.hunger-container button:hover {
  background-color: #211e38 !important;
}

.hunger-container #player-list {
  height: 100% !important;
  border-radius: 4px;
  padding: 10px;
}

.hunger-container #player-list img {
  max-width: 125px;
  max-height: 125px;
  border-radius: 100px;
}

.game-container {
  background: #2E294E;
  height: 75px;
}

.game-container h1 {
  font-size: 35px !important;
}

.game-container .player-container {
  padding: 0px;
  min-width: 475px;
}

.game-container .game-img {
  max-width: 45px;
  min-height: 45px !important;
  max-height: 45px;
  border-radius: 100px;
}

.game-container .event-container {
  height: 65vh;
  overflow-y: scroll;
  color: #DBD6CB !important;
}

.game-container .event-container p {
  color: #DBD6CB !important;
}

.game-container .event-container .hunger-name {
  margin: 0;
  padding: 0;
  max-width: 100px;
  color: #E71D36 !important;
}

@media only screen and (max-width: 592px) {
  .col-sm-4 {
    min-width: 50% !important;
  }
  .event-container {
    max-width: 400px !important;
    min-height: 400px !important;
  }
  .player-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 !important;
    min-width: 50px !important;
    max-width: 50px !important;
    min-height: 65% !important;
  }
  .game-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: auto;
  }
}

@media (max-width: 1535px) {
  .col-sm-4 {
    min-width: 50% !important;
  }
  .event-container {
    margin: 0 !important;
    max-width: 450px !important;
    min-height: 450px !important;
  }
  .player-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 !important;
    min-width: 50px !important;
    max-width: 50px !important;
    min-height: 65% !important;
  }
  .game-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: auto;
  }
}

@media (max-width: 1300px) {
  .your-img {
    display: none;
  }
}

@media (max-width: 1192px) {
  .profile-block .edit-btn {
    margin-left: 62% !important;
  }
}

@media (max-width: 855px) {
  .profile-block .edit-btn {
    margin-left: 60% !important;
  }
}

@media (max-width: 744px) {
  .profile-block .edit-btn {
    margin-left: 58% !important;
  }
}

@media (max-width: 665px) {
  .profile-block .edit-btn {
    margin-left: 55% !important;
  }
}

@media (max-width: 592px) {
  .profile-block .edit-btn {
    margin-left: 53% !important;
  }
}

@media (max-width: 556px) {
  .profile-block .edit-btn {
    margin-left: 51% !important;
  }
}

@media (max-width: 530px) {
  .profile-block .edit-btn {
    margin-left: 48% !important;
  }
}

@media (max-width: 496px) {
  .profile-block .edit-btn {
    margin-left: 44% !important;
  }
}

@media (max-width: 466px) {
  .profile-block .edit-btn {
    margin-left: 38% !important;
  }
}

@media (max-width: 433px) {
  .profile-block .edit-btn {
    margin-left: 30px !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .news, .news-header, .active-users, .users-header {
    opacity: 1 !important;
    display: block !important;
    visibility: visible !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 667px) {
  #navbarDropdown {
    margin-left: 0px !important;
  }
  .modal-body .modal-container {
    width: 350px !important;
  }
  .profile-img {
    width: 100% !important;
  }
  .edit-profile-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pic-name-edit {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    height: auto !important;
  }
  .pic-name-edit .profileName {
    margin-top: 10px;
    max-width: 300px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .pic-name-edit form {
    max-height: 260px;
  }
  .biography {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    width: 315px !important;
  }
  .biography .bio-container {
    min-width: 315px !important;
  }
  .profile-block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .profile-block .edit-btn {
    margin-left: 150px !important;
    width: 100% !important;
  }
}
