@font-face {
    font-family: Droid;
    src: url(droid.ttf);
}

html, body {
    background: url(home.png);
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center !important;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #E71D36 !important;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar-default {
    box-shadow: none;
  }

nav{
    background: #2E294E !important;
    height: 70px;
    font-family: Droid;
    font-size: 30px;
    box-shadow: none;
}

nav a{
    letter-spacing: 0.5px;
    color: #E71D36 !important;
}

.dropdown-item:hover{
    background: #2E294E !important;
}

.dropdown-item{
    font-family: Arial;
}

#navbarDropdown{
    text-align: center !important;
    margin-top: 10px;
    background-color: #E71D36 !important;
    color: #2E294E !important;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    padding: 0px;
}

.logo{
    width: 65px !important;
    height: 65px !important;
    margin: 0 auto;
}

.logoHome{
    width: 175px;
    height: 175px;
}

.container, .row{
    /* width: 100%; */
}

.home-container{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* width: 100%;
    height: 100vh; */
}

.page-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Droid !important;
    color: #E71D36 !important;
}

 .news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 20px; */
    /* width: 850px; */
    height: 300px;
    background: #DBD6CB;
}

.active-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 30%; */
    /* width: 400px; */
    height: 300px;
    background: #DBD6CB;
}

.play-direct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 30%; */
    /* width: 400px; */
    height: 300px;
    background: url(play.png);
    opacity: 0.8;
}

.play-direct:hover{
    cursor: pointer;
    opacity: 1;
}

.users-header{
    width: 20% !important;
    text-align: left;
}


.news-header{
    width: 75% !important;
    text-align: left;
}

.hideme, .hide
{
    opacity: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: url(home.png);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E71D36; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 23, 41); 
}

@media only screen and (min-width: 850px) {
    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }
}