@font-face {
    font-family: Droid;
    src: url(droid.ttf);
}

html, body {
    background: #2E294E !important;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #E71D36 !important;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

nav{
    background: #2E294E !important;
    height: 70px;
    font-family: Droid;
    font-size: 30px;
}

nav a{
    letter-spacing: 0.5px;
    color: #E71D36 !important;
}

.dropdown-item:hover{
    background: #2E294E !important;
}

.dropdown-item{
    font-family: Arial;
}

#navbarDropdown{
    text-align: center;
    margin-top: 5px;
    background-color: #E71D36 !important;
    color: #2E294E !important;
    border-radius: 8px;
    height: 50px;
}

.logo{
    width: 65px !important;
    height: 65px !important;
    margin: 0 auto;
}

.home-container{
    background: #2E294E !important;
}