@font-face {
    font-family: Droid;
    src: url(droid.ttf);
}

//font variables
$droid: Droid;

//url variables
$homeBg: url(home.png);
$homeAd: url(play.png);

//color variables
$novaPink: #E71D36;
$novaBlue: #2E294E;
$novaDarkb: rgb(44, 39, 73);
$novaGray: #DBD6CB;

//other variables
$full: 100%;

html, body {
    background: $homeBg;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

//bootstrap adjustments
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center !important;
}

.title {
    font-size: 84px;
}

.links > a {
    color: $novaPink !important;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar-default {
    box-shadow: none;
  }

//end bootstrap adjustments

//navbar
nav{
    background: $novaBlue !important;
    height: 70px;
    font-family: $droid;
    font-size: 30px;
    box-shadow: none;
}

nav {
    a{
    letter-spacing: 0.5px;
    color: $novaPink !important;
    }
}

.dropdown-item:hover{
    background: $novaBlue !important;
}

.dropdown-item{
    font-family: Arial;
}

#navbarDropdown{
    text-align: center !important;
    margin-top: 10px;
    background-color: $novaPink !important;
    color: rgb(221, 221, 221) !important;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    padding: 0px;
}

.logo{
    width: 65px !important;
    height: 65px !important;
    max-height: 65px !important;
    max-width: 65px !important; 
    margin: 0 auto;
}

.logoHome{
    width: 175px;
    height: 175px;
}

//end navbar

//home page

.home-container{

}

.page-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: $droid !important;
    color: $novaPink !important;
}

 .news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: $novaGray;
}

.active-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: $novaGray;
}

.play-direct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 30%; */
    /* width: 400px; */
    height: 300px;
    background: $homeAd;
    opacity: 0.8;
}

.play-direct:hover{
    cursor: pointer;
    opacity: 1;
}

.users-header{
    width: 20% !important;
    text-align: left;
}

.news-header{
    width: 75% !important;
    text-align: left;
}

.hideme, .hide
{
    opacity: 0;
}

//end home page

//scrollbar
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: $homeBg;
}

::-webkit-scrollbar-thumb {
    background: $novaPink; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 23, 41); 
}

//end scrollbar

//login page
.login-container{
    // @include thunderClip();
    background-color: $homeBg;
    height: 90.2vh;
    
    h1{
        color: $novaBlue !important;
    }
}

.lightBulb{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.card-body, .card{
    color: $novaBlue;
    background-color: $novaPink !important;
    border-radius: 0px !important;

    h1{
        color: $novaBlue !important;
        font-family: $droid, arial;
    }

    button{
        letter-spacing: 1px;
        font-size: 25px;
        font-family: $droid;
        background: $novaBlue;
        border: $novaBlue;
    }

    button:hover{
        background-color: rgb(33, 30, 56) !important;
    }

    input{
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }

    span, i{
        background-color: $novaBlue !important;
        border: $novaBlue !important
    }

    a{
        color: $novaBlue !important;
    }

    .login-container{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .loginBtn{
        width: 100% !important;
    }

}

//end login page

//hunger games pages
.hunger-main{
    button{
        color: $novaPink;
        letter-spacing: 1px;
        font-size: 25px;
        font-family: $droid;
        background: $novaBlue;
        border: $novaBlue;
    }

    button:hover{
        background-color: rgb(33, 30, 56) !important;
    }

    .build-header{
        font-size: 50px;
    }
}

.hungry-container{
    display: flex;
    justify-content: center !important;

    .edit-player{
        background: $novaGray !important;
        padding: 10px;
    }

    .gender-head{
        margin-left: 135px !important;
    }

    .hunger-row{
        position: relative;

        .logo{
            margin-left: 0px;
            min-width: 65px !important;
            max-width: 65px !important;
        }

        h1{
            color: $novaBlue !important;
        }

        img{
            min-width: 125px !important;
            max-width: 125px !important;
            max-height: 125px !important;
            border-radius: 100px !important;
            border: none !important;
        }
    }

    .players-row{

        // .player-border{
        //     border: 2px solid $novaBlue;
        //     border-radius: 4px;
        //     margin-bottom: 10px;
        // }
    }

    .your-img{
        position: absolute;
        top: 0 !important;
    }

    .your-char{
        padding: 15px;
    }

    .your-id{
        padding: 10px;
        border: 2px solid $novaBlue;
        border-radius: 4px;
        // height: 75% !important;

        .id-name{
            margin-left: 9% !important;
        }

    #username{
        background: $novaBlue;
        padding: 10px;
        height: 9% !important;

        h1{
            padding-left: 63px;
            color: $novaGray !important;
        }
    }

    }

    img{
        // min-width: 125px !important;
        // max-width: 125px !important;
        // max-height: 125px !important;
        // border-radius: 100px !important;
        // border: none !important;
    }

    button{
        letter-spacing: 1px;
        font-size: 25px;
        font-family: $droid;
        background: $novaBlue;
        border: $novaBlue;
    }

    button:hover{
        background-color: rgb(33, 30, 56) !important;
    }

    .your-char{
        background: $novaGray;
    }

    #player-list{
        max-height: 100%;
        padding: 10px;

        .your-players{
            // border: 2px solid $novaBlue;
            // border-radius: 4px;
        }

        img{
            max-width: 125px;
            max-height: 125px;
            border-radius: 100px;
        }
    }

}

.modal-body, .modal-header, .modal-footer{
    background: $novaBlue !important;
    border: 1px solid $novaDarkb !important;
}

.modal-header{
    color: $novaPink;
    
}

.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $novaPink !important;

    label{
        font-family: $droid, arial;
        font-size: 25px;
        letter-spacing: 1px;
    }
}

.modal-footer{
    button{
        font-family: $droid, arial;
        font-size: 25px;
        background: $novaPink !important;
        color: $novaBlue;
    }
}

.hunger-container{
    // display: flex;
    // flex-direction: column !important;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;

    #your-list{
        // max-width: 35%;
    }

    #player-list{
        // display: flex;
        // align-items: center; 
        // max-width: 35%;
        // height: 50%;
        // max-height: 50%;
    }

    h1{
        max-width: 470px;
    }

    img{
        max-width: 125px;
        max-height: 125px;
        border-radius: 100px;
    }

    button{
        letter-spacing: 1px;
        font-size: 25px;
        font-family: $droid;
        background: $novaBlue;
        border: $novaBlue;
    }

    button:hover{
        background-color: rgb(33, 30, 56) !important;
    }

    #player-list{
        height: 100% !important;
        border-radius: 4px;
        padding: 10px;

        img{
            max-width: 125px;
            max-height: 125px;
            border-radius: 100px;
        }
    }
}

//end hungergames page

@media only screen and (min-width: 850px) {
    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }
}

